//
// Addtoany block styles.
//
span.addtoany_list {
  margin-bottom: 20px;
  display: block;
  // stylelint-disable-next-line at-rule-no-unknown
  @include screen-mq(lg) {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    margin-bottom: 0;
  }
}
