//
// Moody Promotion componenet styles.
//
.moody-promotion-wrapper {
  width: 100%;
  padding: 25px;
  background-color: $ut-turquoise;
  .media-wrapper {
    padding-right: 2.5rem;
  }
  ul {
    padding-inline-start: 20px;
  }
  // stylelint-disable-next-line at-rule-no-unknown
  @include screen-mq(sm) {
    padding: 50px;
  }
  .moody-promotion-inner-wrapper {
    display: flex;
    flex-direction: column;
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(sm) {
      flex-direction: row;
    }
    img {
      min-width: 250px;
      // stylelint-disable-next-line at-rule-no-unknown
      @include screen-mq(sm) {
        margin-right: 2.5rem;
      }
    }
    .headline {
      font-size: rem-calc(32);
      font-weight: 600;
      color: $ut-charcoal;
      line-height: 1.2;
      // stylelint-disable-next-line at-rule-no-unknown
      @include screen-mq(sm) {
        font-size: 2rem;
      }
    }
    .date {
      font-style: italic;
      font-weight: 700;
      font-size: 1.5rem;
      color: $ut-charcoal;
      margin-bottom: 1rem;
    }
    .copy p {
      // stylelint-disable-next-line at-rule-no-unknown
      @extend %homepage-copy;
      color: $ut-charcoal;
      font-size: 1.5rem;
    }
    .cta-wrapper {
      margin-top: 2rem;
      letter-spacing: 0.5px;
      a {
        padding: 12px 8px;
      }
    }
  }
}
// Extend bootstrap margins if placed in full-width region
.layout.layout--utexas-onecol.container-fluid {
  .moody-promotion-wrapper {
    padding-left: 0;
    padding-right: 0;
    .moody-promotion-inner-wrapper {
      // stylelint-disable-next-line at-rule-no-unknown
      @extend %bootstrap-fake-margins;
    }
  }
}
