.moody-lam-info-summary {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  min-height: 250px;
  .overview-statement h2 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5;
  }

  .block__ut-social-links--items {
     margin-left: 0;
  }
}

.block-moody-lam-info-summary {
  height: 100%;
}

.block-moody-lam-lam-page-quote {
  .quotation-wrapper {
    position: relative;
    .quote-wrapper {
      .quote-contents {
        display: flex;
        flex-direction: column;
        // stylelint-disable-next-line at-rule-no-unknown
        @include screen-mq(sm) {
          flex-direction: row;
        }
      }
      img {
        width: 100%;
      }
      .quote {
        font-size: rem-calc(24);
        // stylelint-disable-next-line at-rule-no-unknown
        @include screen-mq(md) {
          font-size: rem-calc(24);
        }
        // stylelint-disable-next-line at-rule-no-unknown
        @include screen-mq(lg) {
          font-size: 1.5rem;
        }
        &:before {
            font-family: Arial, Helvetica, sans-serif;
            content: "“";
            position: absolute;
            margin-left: -15px;
          }
      }
    }
  }
}
