//
// Moody Newsletter componenet styles.
//
.moody-resource-group-wrapper {
  width: 100%;
  h3 {
    font-size: rem-calc(28);
    font-weight: 600;
    line-height: 1.2;
    color: $ut-white;
    padding: 20px;
    // stylelint-disable-next-line at-rule-no-unknown
    @include screen-mq(sm) {
      font-size: rem-calc(36);
    }
    &.gray {
      background-color: #353F47;
    }
    &.blue {
      background-color: $ut-bluebonnet;
    }
    &.orange {
      background-color: $ut-burntorange;
    }
    &.green {
      background-color: $ut-turtlepond;
    }
  }
  .resource-group-links {
    margin-top: 1.5rem;
  }
  .link-list {
    li + li {
      margin-top: 1rem;
    }
  }
}
