//
// Social link styles.
//
.block__ut-social-links--items {
  display: flex !important;
  flex-wrap: wrap;
  gap: 0;
  grid-gap: 0;
  .block__ut-social-links--item {
    width: 35px;
    height: 35px;
    margin: 0;
    border: none;
    padding: 0;
    + .block__ut-social-links--item {
      margin-left: 10px;
    }
  }
  > div {
    margin-left: 0;
    + div {
      margin-left: 10px;
    }
  }

  .block__ut-social-links--link {
      background-color: $ut-burntorange;
      width: 35px;
      height: 35px;
  }
  svg {
    fill: $ut-burntorange;
    width: 35px !important;
    height: 35px !important;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
  }
  .invert,
  .block__ut-social-link:hover,
  .block__ut-social-link:focus,
  .block__ut-social-links--link:hover,
  .block__ut-social-links--link:focus {
    svg {
      background: $ut-burntorange;
      fill: $ut-white;
    }
  }
  .block__ut-social-links--link:focus {
    outline: 2px solid black; /* Black focus outline */
    outline-offset: 3px; /* Ensures focus outline is visually distinct */
  }

  .block__ut-social-links--link:focus svg {
    fill: black; /* Changes the SVG icon color to black when the link is focused */
  }

  .invert {
    .block__ut-social-link:hover,
    .block__ut-social-link:focus {
      svg {
        background: $ut-white;
        fill: $ut-burntorange;
      }
    }
  }
}
header .block__ut-social-links--items {
  padding-right: 0;
  padding-left: 1em;
}
.layout__region .block__ut-social-links--items {
  display: flex;
}

.a2a_kit {
  z-index: 100;
}
