{% if show_brandbar %}
	<div id="brandbar" class="{{ brandbar_color }}">
		<div class="container">
			<div class="row">
				<div
					class="col-12">
					{# If the brandbar_logo is "moody", we show this: #}
					{% if brandbar_logo == 'moody' %}
						<a href="https://www.moody.utexas.edu" aria-label="Moody College of Communication, University of Texas">
							<img class="brandbar-logo" src="{{ base_path }}{{ active_theme_path() }}/images/logos/utexas_moody_white.png" alt="Moody College of Communication logo"/>
						{% endif %}
						{# If the brandbar_logo is "utexas", we show this: #}
						{% if brandbar_logo == 'utexas' %}
							<div class="d-flex flex-nowrap justify-content-between align-items-center">
								<div class="ut-logo--wrapper">
									<a href="https://www.utexas.edu" class="ut-logo--shieldtexas" aria-label="University of Texas at Austin - home">
										<span class="img-fluid logo--formal" style="height: 80%;">
											<img class="h-50 pr-4" src="/themes/custom/forty_acres/images/utexas-brandbar-shield.svg" alt="University of Texas shield logo"/>
										</span>
									</a>
								</div>
								<div>
									<a class="text-ut-white ut-font-weight-bold" href="https://give.utexas.edu/campaigns/59328/donations/new?designation_id=OGPCOUTNY">Give</a>
								</div>
							</div>
						{% endif %}
						{% if brandbar_logo == 'moody' %}
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% else %}
	<div id="eyebrow"></div>
{% endif %}
