.block-views {
  .media-grid {
    button.media-grid-button {
      padding: 0;
      text-align: left;
      border: none;
      background: none;
      margin-bottom: 20px;
      h3 {
        font-size: rem-calc(20);
        margin-top: 10px;
      }
      span {
        font-size: rem-calc(14);
      }
    }
  }
}
