//
// Tag & Input Buttons.
//

// ----------
// Button Extension
// This is included whenever a button type is added.
%ut-button {
  background-color: $ut-burntorange;
  border: 2px solid $ut-burntorange;
  border-radius: 4px;
  color: $ut-white;
  display: inline-block;
  font-family: $ut-font--sans;
  font-weight: 600;
  margin-bottom: .55rem;
  padding: .5rem 1rem;
  text-decoration: none !important;
  transition: background-color, color, border-color, .33s ease-out;

  &:link,
  &:visited {
    color: $ut-white;
  }
  &:hover,
  &:focus {
    border: 2px solid $ut-burntorange--s20;
    background-color: $ut-burntorange--s20;
    color: $ut-white !important;
    cursor: pointer;
    text-decoration: none;
  }
  &:active {
    background-color: $ut-burntorange--s10;
  }
}

// ----------
// Button defaults
.ut-btn,
.cta {
  // stylelint-disable-next-line at-rule-no-unknown
  @extend %ut-button;

  // Secondary Color Change
  // This is a white background with a orange borders.
  &--secondary {
    // stylelint-disable-next-line at-rule-no-unknown
    @extend %ut-button;

    background-color: $ut-white;
    border-color: $ut-burntorange;
    color: $ut-burntorange;

    &:link,
    &:visited {
      color: $ut-burntorange;
    }
  }

  // Disabled button.
  &--disabled {
    // stylelint-disable-next-line at-rule-no-unknown
    @extend %ut-button;

    background-color: $ut-shade--t40;
    border-color: $ut-shade--t40;
    color: $ut-shade;

    &:link,
    &:visited {
      color: $ut-shade;
    }
    &:hover,
    &:focus {
      color: $ut-charcoal--s40 !important;
      background-color: $ut-shade--t40;
      border-color: $ut-shade--t40;
    }
  }

  // Small buttons used for CTAs.
  &--small {
    // stylelint-disable-next-line at-rule-no-unknown
    @extend %ut-button;

    font-size: 0.825rem;
    line-height: 1.5;
    padding: .25rem .75rem;
    text-transform: uppercase;
  }

  // Large buttons.
  &--large {
    // stylelint-disable-next-line at-rule-no-unknown
    @extend %ut-button;

    padding: .75rem 1.25rem;
    text-transform: uppercase;
  }

  // Blue button.
  &--blue {
    // stylelint-disable-next-line at-rule-no-unknown
    @extend %ut-button;

    background-color: $ut-bluebonnet !important;
    border-color: $ut-bluebonnet !important;
    &:hover {
      background-color: $ut-bluebonnet--s20 !important;
    }
  }

  // Charcoal button.
  &--charcoal {
    // stylelint-disable-next-line at-rule-no-unknown
    @extend %ut-button;

    background-color: $ut-charcoal !important;
    border-color: $ut-charcoal !important;
    &:hover {
      background-color: $ut-charcoal--s40 !important;
    }
  }
}

// ----------
// Corner or Border radius defaults
// .corner--rounded {
//   border-radius: 4px !important;
// }
// .corner--square {
//   border-radius: 0 !important;
// }
// .corner--pill {
//   border-radius: 2rem !important;
// }

//////////////////////////
// Moody customizations
.button {
  // stylelint-disable-next-line at-rule-no-unknown
  @extend %ut-button;
  &.small {
    // font-size: 0.825rem;
    line-height: 1.5;
    padding: .25rem .75rem;
  }
}

// ----------
// Button Extension for Moody homepage style button.
%homepage-button {
  text-transform: uppercase;
  font-size: rem-calc(20);
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 600;
  color: $ut-white !important;
  background-color: $ut-burntorange;
  padding: 5px 15px;
  border-radius: 2px;
  display: inline-block;
  min-width: 225px;
  text-align: center;
  transition: background-color .2s ease-in-out;
  text-decoration: none !important;
  &:hover,
  &:focus {
    color: $ut-white;
    text-decoration: none;
    background-color: $ut-burntorange-dark;
  }
}

// ----------
// Homepage Button
.ut-btn--homepage {
  // stylelint-disable-next-line at-rule-no-unknown
  @extend %homepage-button;
  letter-spacing: 0.5px;
}

.moody-btn--arrow {
  @extend %ut-button;
  // display: inline-block;
  // padding: 10px 25px;
  // color: #ffffff;
  // font-size: 16px;
  text-align: center;
  // text-decoration: none;
  // border: none;
  // border-radius: 5px;
  // font-weight: bold;
  // transition: background-color 0.3s ease;
  background-color: transparent;
  color: $ut-burntorange !important;
  border: 2px solid transparent;
  &::after {
    content: '→';
    font-size: 25px;
    margin-left: 10px;
  }

  // &:hover {
  //   cursor: pointer;
  //   color: $ut-burntorange !important;
  //   background-color: white;
  //   border: 2px solid white;

  //   &::after {
      
  //   }
  // }

  &:active {
  }

  &:focus {
    // outline: none;
    // box-shadow: 0 0 0 2px rgba(247,152,36,0.5);
  }
}

// This would be the HTML element:
// <a href="your-link.html" class="moody-btn--arrow">CTA Text</a>
