// ---------------
// Charis Sil Bold

// Regular
@font-face {
  font-family: "CharisSil";
  src: url('../fonts/CharisSIL-B.woff') format('woff'), url('../fonts/CharisSIL-B.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
