// ----------
// Libre Franklin Black.

@font-face {
  font-family: "LibreFrankBlack";
  src: url('../fonts/LibreFranklin-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
