// Breakpoint variables
$breakpoints: (
  'md': 768px,  // Adjust to match your actual breakpoints
  'lg': 992px,
  'xl': 1200px
);

// Base margin unit, change this as needed based on your design scale.
$base-margin-unit: 0.25rem; // This means 1 unit = 0.25rem

// Mixin to generate margin utility classes with responsive modifiers
@mixin generate-margin-utilities {
  // Loop through 64 to generate margin classes for all, top, bottom, left, and right
  @for $i from 1 through 32 {
    $margin-value: $i * $base-margin-unit;

    // All-around Margin
    .ut-m-#{$i} {
      margin: $margin-value;
    }

    .hover\:ut-m-#{$i} {
      &:hover {
          margin: $margin-value;
      }
    }

    // Margin Top
    .ut-mt-#{$i} {
      margin-top: $margin-value;
    }

    .hover\:ut-mt-#{$i} {
      &:hover {
          margin-top: $margin-value;
      }
    }


    // Margin Bottom
    .ut-mb-#{$i} {
      margin-bottom: $margin-value;
    }

    .hover\:ut-mb-#{$i} {
      &:hover {
          margin-bottom: $margin-value;
      }
    }

    // Margin Left
    .ut-ml-#{$i} {
      margin-left: $margin-value;
    }

    .hover\:ut-ml-#{$i} {
      &:hover {
          margin-left: $margin-value;
      }
    }

    // Margin Right
    .ut-mr-#{$i} {
      margin-right: $margin-value;
    }

    .hover\:ut-mr-#{$i} {
      &:hover {
          margin-right: $margin-value;
      }
    }

    // Responsive variations
    @each $prefix, $bp in $breakpoints {
      @media (min-width: $bp) {
        .#{$prefix}:ut-m-#{$i} {
          margin: $margin-value;
        }
        .hover\:.#{$prefix}:ut-m-#{$i} {
          &:hover {
              margin: $margin-value;
          }
        }
        
        .#{$prefix}:ut-mt-#{$i} {
          margin-top: $margin-value;
        }
        .hover\:.#{$prefix}:ut-mt-#{$i} {
          &:hover {
              margin-top: $margin-value;
          }
        }

        .#{$prefix}:ut-mb-#{$i} {
          margin-bottom: $margin-value;
        }
        .hover\:.#{$prefix}:ut-mb-#{$i} {
          &:hover {
              margin-bottom: $margin-value;
          }
        }

        .#{$prefix}:ut-ml-#{$i} {
          margin-left: $margin-value;
        }
        .hover\:.#{$prefix}:ut-ml-#{$i} {
          &:hover {
              margin-left: $margin-value;
          }
        }

        .#{$prefix}:ut-mr-#{$i} {
          margin-right: $margin-value;
        }
        .hover\:.#{$prefix}:ut-mr-#{$i} {
          &:hover {
              margin-right: $margin-value;
          }
        }
      }
    }
  }
}

// Include the mixin to generate the classes
@include generate-margin-utilities;
