// Import the variables SCSS file if it's in a separate file
@import 'variables';
// Mixin to generate text color classes with hover support
@mixin text-colors {
  @each $name, $color in (
    black: black,
    white: white,
    burntorange: $ut-burntorange,
    bluebonnet: $ut-bluebonnet,
    turquoise: $ut-turquoise,
    turtlepond: $ut-turtlepond,
    cactus: $ut-cactus,
    shade: $ut-shade,
    tangerine: $ut-tangerine,
    limestone: $ut-limestone,
    sunshine: $ut-sunshine,
    moody-peach: $moody-peach,
    moody-gray: $moody-gray,
    moody-blue: $moody-blue,
    error-red: $ut-error_red,
    bluebonnet--s20: $ut-bluebonnet--s20,
    ut-shade--t60: $ut-shade--t60,
    ut-shade--t40: $ut-shade--t40,
    charcoal: $ut-charcoal
  ) {
    .text-ut-#{$name} {
      color: $color !important;
    }
    .hover\:text-ut-#{$name} {
      &:hover {
        color: $color !important;
      }
    }
  }
}

// Mixin to generate background color classes with hover support
@mixin bg-colors {
  @each $name, $color in (
    black: black,
    white: white,
    burntorange: $ut-burntorange,
    bluebonnet: $ut-bluebonnet,
    turquoise: $ut-turquoise,
    turtlepond: $ut-turtlepond,
    cactus: $ut-cactus,
    shade: $ut-shade,
    tangerine: $ut-tangerine,
    limestone: $ut-limestone,
    sunshine: $ut-sunshine,
    moody-peach: $moody-peach,
    moody-gray: $moody-gray,
    moody-blue: $moody-blue,
    error-red: $ut-error_red,
    bluebonnet--s20: $ut-bluebonnet--s20,
    ut-shade--t60: $ut-shade--t60,
    ut-shade--t40: $ut-shade--t40,
    charcoal: $ut-charcoal
  ) {
    .bg-ut-#{$name} {
      background-color: $color;
    }
    .hover\:bg-ut-#{$name} {
      &:hover {
        background-color: $color;
      }
    }
  }
}


// Border colors
@mixin border-colors {
  @each $name, $color in (
    black: black,
    white: white,
    burntorange: $ut-burntorange,
    bluebonnet: $ut-bluebonnet,
    turquoise: $ut-turquoise,
    turtlepond: $ut-turtlepond,
    cactus: $ut-cactus,
    shade: $ut-shade,
    tangerine: $ut-tangerine,
    limestone: $ut-limestone,
    sunshine: $ut-sunshine,
    moody-peach: $moody-peach,
    moody-gray: $moody-gray,
    moody-blue: $moody-blue,
    error-red: $ut-error_red,
    bluebonnet--s20: $ut-bluebonnet--s20,
    ut-shade--t60: $ut-shade--t60,
    ut-shade--t40: $ut-shade--t40,
    charcoal: $ut-charcoal
  ) {
    .border-ut-#{$name} {
      border-color: $color;
    }
    .hover\:border-ut-#{$name} {
      &:hover {
        border-color: $color;
      }
    }
  }
}

// Usage of mixins
@include text-colors;
@include bg-colors;
@include border-colors;

// Copy over from the utexas_layouts module to include everywhere
.utexas-bg-074d6a {
  background-color: #074d6a;
}
.utexas-bg-138791 {
  background-color: #138791;
}
.utexas-bg-f9fafb {
  background-color: #f9fafb;
}
.utexas-bg-e6ebed {
  background-color: #e6ebed;
}
.utexas-bg-c4cdd4 {
  background-color: #c4cdd4;
}
.utexas-bg-7d8a92 {
  background-color: #7d8a92;
}
.utexas-bg-5e686e {
  background-color: #5e686e;
}
.utexas-bg-3e4549 {
  background-color: #3e4549;
}
.utexas-bg-487d39 {
  background-color: #487d39;
}
.utexas-bg-9d4700 {
  background-color: #9d4700;
}
.utexas-bg-ebeced {
  background-color: #ebeced;
}
.utexas-bg-c2c5c8 {
  background-color: #c2c5c8;
}
.utexas-bg-858c91 {
  background-color: #858c91;
}
.utexas-bg-1f262b {
  background-color: #1f262b;
}
.utexas-bg-fbfbf9 {
  background-color: #fbfbf9;
}
.utexas-bg-f2f1ed {
  background-color: #f2f1ed;
}
.utexas-bg-e6e4dc {
  background-color: #e6e4dc;
}
.utexas-bg-aba89e {
  background-color: #aba89e;
}
.utexas-bg-807e76 {
  background-color: #807e76;
}
.utexas-bg-56544e {
  background-color: #56544e;
}


.disabled-background-accent-filtering.background-accent .block {
    background-color: transparent;
    border: none;
    padding: none;
  
}